.mainBox{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar{
    width: 0.5rem;
    height: auto;
}

::-webkit-scrollbar-track{
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
    background: #777;
    border-radius: 1rem;
    width: 80%;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-scrollbar-thumb:active{
    background: #333;
}

.boxContent{
    flex-grow: 1;
    overflow-y:scroll;
    display:block;
}

.form{
    display: flex;
    flex-direction: row;
}

img{
    max-width: 100%;
}

.inputField{
    width: -webkit-fill-available !important;
}